.books {
  display: flex;
  gap: 42px;
  flex-wrap: wrap;
  margin: 0 auto;
  font-family: var(--font-family);
}

.Catalog h2 {
  font-weight: 400;
  font-size: 55px;
  text-transform: uppercase;
  text-align: left;
  font-family: 'Felidae';
}

.filter {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 40px;
}
